@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    If you want to update or access your personal information, or if you have any questions, comments or concerns
    about this Privacy Policy or our privacy practices, please contact our privacy officer at <a href="mailto:privacy@C&CSnowSports.com">privacy@C&CSnowSports.com</a>
    <br /><br />
    C&C Sports is committed to protecting the privacy of our customers and site visitors. This Privacy Policy explains how we collect
    information about you and how we use and share it both offline and in connection with the operation of our website.
    The Policy also sets out how you can request that this information be updated or corrected or
    its use modified. We reserve the right to amend or otherwise modify this Privacy Policy at any time, so please re-visit
    this page periodically to check for updates. Revisions to this Privacy Policy will be effective when posted on this
    site. The date of last revision is shown at the top of the front page of this document. In addition, we may supplement
    our current Privacy Policy with additional notices of our information practices specific to certain programs or activities.
    <br /><br />
    <h5>Use of Information</h5><br />
    The information we collect is generally used to process your requests or transactions, provide you with the Services,
    personalize them to you and maintain and improve their quality, tell you about opportunities we think will be of interest,
    monitor and analyze your use and behavior patterns, and understand your needs so that we can serve you better. For example,
    we may use your telephone number, your e-mail or your postal address to communicate about opportunities and programs.
    If you prefer not to receive Promotional Information from us, we make it easy for you to let us know. You can contact us
    at any time to request an update to your personal information on file or modify our use of it (see Your Choices below).
    <br /><br />
    We store and process information on computer servers located in the United States.
    <br /><br />
    <h5>Security</h5><br />
    We take commercially reasonable measures to secure and store your personal information to protect against its loss,
    misuse or alteration while under our control. We use industry standard security measures when accepting your credit
    card information during the online ordering process, as well as whenever we ask you to login to any of our Services.
    That said, data transmission over the Internet is not 100% secure. Although we use industry standard security measures,
    we do not guarantee against the loss, misuse or alteration of any information during its delivery or under our control.
    We thus urge you to always take care how you handle and disclose your personal information over the Internet.
</p>

