@{
    ViewData["Title"] = "Login Needed";
}

<h1>Login First</h1>
<h3> You must have a user account to place an order.</h3>
<p>
    <a asp-action="Login" asp-controller="Users" class="btn btn-primary">Login</a>
    <a asp-action="SignUp" asp-controller="Users">Sign Up</a>
</p>
